@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.ct-font-inter {
    font-family: "Inter", sans-serif !important;
}


.ct-font-roboto {
    font-family: "Roboto", sans-serif !important;
}

.ct-font-14 {
    font-size: 14px !important;
}

.ct-font-36 {
    font-size: 36px !important;
}

.ct-bg-footer{
    background-color: #169CFF;
    font-family: "Roboto", sans-serif !important;
}

.ct-bg-lightblue{
    background: linear-gradient(to bottom, #DEEBFF, #EBFFEC);
    font-family: "Roboto", sans-serif !important;
}